/**
* Public style css
*/
.site-header .navbar-nav>li.fepm-message-box {
    max-height: 10px;
}
.fep-table.fep-action-table .fep-button {
    padding: 1px 5px 1px 5px;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    right: 45%;
}
.bwlive_overlay {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}
.bwlive_overlay .bw-close {
    font-size: 15px;
    color: #fff;
    float: right;
    position: relative;
    right: 5px;
    top: 5px;
    border: 1px solid;
    padding: 0 5px 0 5px;
    border-radius: 10px;
}
.bwlive_overlay .bwlive-msg {
    color: #fff;
    font-size: 2em;
    position: relative;
    top: 25%;
}
.bwlive-bit-hide{
    display: none;
}
.fep-notification-bar#fep-notification-bar p {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    top: 40%;
}
.fep-notification-bar#fep-notification-bar {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}
.fep-notification-bar#fep-notification-bar .fep-notice-dismiss {
    color: #fff;
}